<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <%= link_to "#", class: "navbar-brand" do %>
    <%= image_tag "pixie-logo.png" %>
  <% end %>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>


  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <%= link_to "Home", "#", class: "nav-link" %>
      </li>
      <li class="nav-item">
        <%= link_to "Projects", "#", class: "nav-link" %>
      </li>
      <li class="nav-item">
        <%= link_to "About", "#", class: "nav-link" %>
      </li>
      <li class="nav-item">
        <%= link_to "Contacts", "#", class: "nav-link" %>
      </li>
    </ul>
  </div>
</div>

<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/background.png);">
  <div class="container">
    <h1>Pixie Photography</h1>
  </div>
</div>


<div class="container-home">
  <div class="description">
    <p> With my phone always at hand, I capture the extraordinary out of the ordinary moments of life. </p>
  </div>
</div>


